@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-redhat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  color: #004d6d;
  font-family: var(--font-redhat);
}

.clip-path-header {
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
  @media (max-width: 1024px) {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.clip-path-mision {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 10% 100%);
  @media (max-width: 1024px) {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.clip-path-features {
  clip-path: polygon(0 0, 100% 0%, 90% 100%, 0 100%);
  @media (max-width: 1024px) {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.clip-path-marquee {
  clip-path: polygon(8% 0, 100% 0%, 92% 100%, 0% 100%);
}

html {
  scroll-behavior: smooth;
}
